<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453869315207-2psfudurmkqbvkpv868s7m048t7bcgi3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453869315207-2psfudurmkqbvkpv868s7m048t7bcgi3</string>
	<key>API_KEY</key>
	<string>AIzaSyBPT7DgGRDd4rm_ac7Iq8ARRSnTg-BxKrg</string>
	<key>GCM_SENDER_ID</key>
	<string>453869315207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yashvardhan.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-d5a2b</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-d5a2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453869315207:ios:db136c6c53be9dd2e74422</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-d5a2b.firebaseio.com</string>
</dict>
</plist>